/*                   Estilização dos elementos da Página                 */
body {
  background-color: #E5E5E5;
}

* {
  font-family: 'Roboto', sans-serif;
}

.page {
  height: 100%;
  width: 767px;
}

header,
.box-mensagem {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 767px;
  padding: 0 4%;
  box-sizing: border-box;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;

  background-color: #FFFFFF;
}

header {
  left: 0;
  top: 0;
}

header img {
  width: 75px;
  height: 53px;
}

header ion-icon {
  width: 42px;
  height: 31px;
}

.mensagens {
  margin: 106px 0;
}

.mensagens {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

}

.box-mensagem {
  left: 0;
  bottom: 0;
}

.box-mensagem input {
  width: 80%;
  height: 60%;
  border: none;
  outline: none;
  display: flex;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.enviar-mensagem{
  display: flex;
  align-items: center;
}

.enviar-mensagem ion-icon {
  width: 26px;
  height: 26px;
}

.enviar-mensagem:hover{
  cursor: pointer;
}

.enviar-mensagem >ion-icon:active{
  cursor: pointer;
  color: #a7a7a7;
  transition: color linear 0.7s;
}


/*                     Estilização dos balões do chat                 */
.conteiner-mensagem {
  width: 100%;
  height: fit-content;
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 2px;
  word-break: break-word;

  background-color: #FFFFFF;
}

.conteiner-mensagem .usuario {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
}

.conteiner-mensagem .hora {
  color: #AAAAAA;
}

.status-login {
  background-color: #DCDCDC;
}

.private {
  background-color: #FFDEDE;
}

.mensagem {
  margin: 10px 0;
  width: 100%;
  height: fit-content;
  line-height: 20px;
}

/*                            Responsividade                         */
@media(max-width: 767px) {
  .page {
    width: 100%;
  }
}